# Virtual Environment
venv/

# MLflow
mlruns/
mlflow/artifacts/

# Airflow
airflow/logs/
airflow/config/
airflow/plugins/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# OS Files
.DS_Store
Thumbs.db

# Models
models/*.pkl

# Docker
*.log